OUTPUT_FORMAT("elf32-pic30")
OUTPUT_ARCH("pic30")
ENTRY(_start)

MEMORY
{
  data (a!xr) : ORIGIN = 0x800, LENGTH = 0xF800
  program (xr) : ORIGIN = 0x100, LENGTH = 0x80000000
}


SECTIONS
{
.text 0x1000 :
  { *(.text) }

.data 0x400 :
  { *(.data) }

/* Data address = 0x10 */ 
.const1 0x10 :
  { *(.const1) }

/* PC address = 0x23222120 */
/* psvpage(0x23222120) = 0x4644 */
.const2 0x23222120 :
  { *(.const2) }

/* PC address = 0x43424140 */
/* psvpage(0x43424140) = 0x8684 */
.const4 0x43424140 :
  { *(.const4) }

}
