MEMORY
{
  program (rx) : ORIGIN = 0x100,    LENGTH = 0x9000
  data  (a!rx)  : ORIGIN = 0,    LENGTH = 0x8000
}


SECTIONS
{
.text :
  {
	*(.text);
  } >program

.bss 0x2000 :
  {
        *(.bss);
  } >data

.data 0x2020 :
  {
        *(.data);
  } >data

}
