/* misc06 */

MEMORY
{
  program (rx) : ORIGIN = 0x100,  LENGTH = 0x10000
  data  (!rx)  : ORIGIN = 0x800,  LENGTH = 0x77FE
}

SECTIONS
{
.text :
  { *(.text); _etext = .; } >program

.bss :
  { *(.bss)  } >data

.data :
  { *(.data) } >data 

.const :
  { *(.const) } >program

.dinit :
  { *(.dinit) } >program

}
