/* misc06 */

CRT0_STARTUP(crt0_standard.o)
CRT1_STARTUP(crt1_standard.o)
CRT_STARTMODE(crt_start_mode_normal)

MEMORY
{
  program (rx) : ORIGIN = 0x100,  LENGTH = 0x10000
  data  (a!rx)  : ORIGIN = 0x800,  LENGTH = 0x77FE
}

SECTIONS
{
.text :
  { *(.text); _etext = .; } >program

.bss :
  { *(.bss)  } >data

.data :
  { *(.data) } >data 

.const :
  { *(.const) } >program

.dinit :
  { *(.dinit) } >program

}
