MEMORY
{
  program (rx) : ORIGIN = 0,    LENGTH = 0x8000
  data  (!rx)  : ORIGIN = 0,    LENGTH = 0x8000
}

INCLUDE provides.lkr

SECTIONS
{
.text ALIGN(4) :
  {
	*(.text);
  } >program

.bss ALIGN(2) :
  {
        *(.bss);
  } >data

.data ALIGN(2) :
  {
        *(.data);
  } >data

.ybss MAX( 0x3000 , ALIGN(2)) :
  {
        *(.ybss);
  } >data

}
