OUTPUT_ARCH("pic30")

MEMORY
{
  data (a!xr) : ORIGIN = 0x0, LENGTH = 0xFFFF
  program (xr) : ORIGIN = 0x100, LENGTH = 0x80000000
}

__DMA_BASE    = 0x2000;
__DMA_END     = 0xEFFF;

SECTIONS
{
.text 0x1000 :
  { *(.text) }

.data 0x400 :
  { *(.data) }

/* Data address = 0xaa */ 
.buf1 0xaa :
  { *(.buf1) }

/* Data address = 0x2102 */
/* dmaoffset(0x2120) = 0x0102 */
 .buf2 0x2102 :
  { *(.buf2) }

/* Data address = 0xeccc */
/* dmaoffset(0xeccc) = 0xcccc */
 .buf3 0xeccc :
  { *(.buf3) }

}
